<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, id: :person_name, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :birthday, class: 'label' %>
    <%= form.date_select :birthday, id: :person_birthday, start_year: 1940, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :email, class: 'label' %>
    <%= form.text_field :email, id: :person_email, class: 'input' %>
  </div>

  <%= form.fields_for :address do |address_fields| %>
    <div class="field">
      <%= address_fields.label :street, class: 'label' %>
      <%= address_fields.text_field :street, class: 'input' %>
    </div>
    <div class="field">
      <%= address_fields.label :cep, class: 'label' %>
      <%= address_fields.text_field :cep, class: 'input', id: 'cep_mask' %>
    </div>
    <div class="field">
      <%= address_fields.label :city, class: 'label' %>
      <%= address_fields.text_field :city, class: 'input' %>
    </div>
    <div class="field">
      <%= address_fields.label :state, class: 'label' %>
      <%= address_fields.select :state, options_for_state(@person.address.state) %>
    </div>
  <% end %>

  <div id="phones">
    <%= link_to_add_association('[Add Phone]', form, :phones, form_name: 'form', class: 'button is-primary') %>

    <%= form.fields_for :phones do |phones_fields| %>
      <%= render partial: "phone_fields", locals: {form: phones_fields} %>
    <% end %>
  </div>

  <%= form.fields_for :account do |account_fields| %>
    <div class="field">
      <%= account_fields.label :username, class: 'label' %>
      <%= account_fields.text_field :username, class: 'input' %>
    </div>
    <div class="field">
      <%= account_fields.label :password, class: 'label' %>
      <%= account_fields.text_field :password, class: 'input', type: 'password' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Create', class: 'button is-sucess' %>
  </div>
<% end %>
