<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod %>
    <%= form.number_field :cod, id: :cart_cod %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cart_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :cart_price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :cart_quantity %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :cart_total %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :cart_person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
