<%= content_for :body do %>

  <p id="notice"><%= notice %></p>

  <% @products.each do |product| %>
    <div class="columns">
      <div class="column is-one-quarter">
        <figure class="image is-128x128">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </figure>
        <h3><%= product.name %></h3>
        <p>R$ <%= product.price %></p>
        <%= link_to "Add to cart", {controller: "carts", action: "add_product", product_id: product.id}, class: 'button is-primary' %>
      </div>
    </div>
  <% end; nil %>

<% end %>