<%= content_for :body do %>

  <p id="notice"><%= notice %></p>

  <% @products.each do |product| %>
    <div class="columns">
      <div class="column is-one-quarter">
        <figure class="image is-128x128">
          <img src="http://bulma.io/images/placeholders/128x128.png">
        </figure>
        <h3><%= product.name %></h3>
        <p>R$ <%= product.price %></p>
        <%= link_to "Add to cart", add_product_products_path(product_id: product.id), remote: true, class: "button is-primary", id: "add_product" %>
      </div>
    </div>
  <% end; nil %>

<% end %>