<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <title><%= yield :title %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "bulma" %>
  <%= stylesheet_link_tag "hero" %>
</head>
<body>
  <section class="hero is-primary is-large header-image">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">Paçoca</a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <%= link_to('Home', home_index_path, {class: 'nav-item'}) %>

            <% if user_signed_in? %>
              <%= link_to 'Cart', carts_path, {class: 'nav-item'} %>
              <%= link_to "#{current_user.email}", orders_path, {class: 'nav-item'} %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item' %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, {class: 'nav-item'} %>
            <% end %>
          </div>
        </div>
      </header>
    </div>

    <%= yield :section %>
  </section>
  
  <% if notice %>
    <script type="text/javascript">
      alert("<%= notice %>");
    </script>
  <% end %>
  <% if alert %>
    <script type="text/javascript">
      alert("<%= alert %>");
    </script>
  <% end %>

  <div class="container">
    <%= yield :body %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Paçoca</strong> by Victor Alessander.
        </p>
        <p>
          <a class="icon" href="https://github.com/VictorAlessander/">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "bulma" %>
  <%= javascript_include_tag "masks" %>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>
</body>
</html>
